:root {
    --primary-color: #52EBEA   ;
    --secondary-color: #2B9E9D ;
    --accent1-color: #EBAF8D;
    --accent2-color: #C78965;
    --background-color: #fcfbfb;
    --background-gray: #eaedee;
    --background-black: #0a0b0b;
  
    --heading-font: Verdana, Arial, sans-serif;
    --paragraph-font: Tahoma, 'Trebuchet MS', sans-serif;
  
    --headline-color-on-white: #477B7A;
    --headline-color-on-color: #fcfbfb;
    --paragraph-color-on-white: #ad704d;
    --paragraph-color-on-color: #fcfbfb;
    --paragraph-background-color: #477B7A;
    --nav-link-color: #333939;
    --nav-background-color: #EBAF8D;
    --nav-hover-link-color: #fcfbfb;
    --nav-hover-background-color: #477B7A;
    --footer-background-color: #477B7A;
    --background-gradient: linear-gradient(135deg, #52EBEA 8%, #2B9E9D 40%, #EBAF8D 85%);
    --gradient: linear-gradient(135deg, #C31A86 8%, #933FA0 50%, #00ADEE 92%);
    --brown-gradient: linear-gradient(135deg, #EBAF8D, #C78965 50%);
    --blue-gradient: radial-gradient(#52EBEA, #2B9E9D 95%);
  }

#background{
    background-image: var(--background-gradient);
    height: 725px;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
body{
    background-color: var(--background-black);
    margin: 0;
    padding: 0;
}
header{
    background-image: var(--background-gradient);
}
.logo{
    width: 80px;
}
#logo-link {
    padding-top: 5px;
}
nav a{
    text-align: center;
    text-decoration: none;
    color: var(--nav-hover-link-color);
    background-image: var(--brown-gradient);
    font-family: var(--heading-font);
    padding: 10px 35px;
    border-radius: 5px;
    margin: 10px;
}
nav a:hover{
    background-image: var(--blue-gradient);
    color: var(--nav-hover-link-color);
}
#hero-img{
    width: 100%;
}
.home-title{
    color: var(--headline-color-on-white);
    font-family: var(--heading-font);
    font-size: 2em;
    font-weight: bold;
    margin-top: 10px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center
}
#hero-msg h4{
    color: var(--paragraph-color-on-white);
}
h4 {
    font-family: var(--paragraph-font);
}
.button-box{
    text-align: center
}
.book, .join{
    background-image: var(--brown-gradient);
    text-decoration: none;
    color: var(--nav-link-color);
    font-size: 18px;
    font-family: var(--heading-font);
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-image: var(--blue-gradient);
    color: var(--nav-link-color);
    transform: scale(1.1, 1.1);
}
main section{
    text-align: center
}
main section img {
    box-sizing: border-box;
}
.home-grid{
    color: var(--headline-color-on-white);
}
.card-image{
    width: 30%;
    border: 10px solid var(--accent1-color);
}
.machine-card, .game-card, .locations-card {
    margin: 200px 0;
}
.icon{
    width: 80px;
    padding-top: 10px
}
h2 {
    margin: 0;
}
.home-grid section h2 {
    font-family: var(--heading-font)
}
.grass {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 200px;
}
.msg {
    background-color: var(--footer-background-color);
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: var(--headline-color-on-color);
    font-family: var(--heading-font);
}
.msg p{
    color: var(--paragraph-color-on-color);
    font-size: .9em;
    font-family: var(--paragraph-font);
    padding-bottom: 15px;
}
footer{
    background-color: var(--footer-background-color);
    color: var(--paragraph-color-on-color);
    padding: 25px 50px;
    margin-top: 200px;
}
footer p{
    font-size: 1.3em;
    font-family: var(--paragraph-font);
}
footer p a:hover{
    text-decoration: underline;
    color: var(--nav-link-color);
    background-image: var(--brown-gradient);
    padding: 3px;
    border-radius: 5px;
}
footer a{
    color: var(--paragraph-color-on-color);
    text-decoration: none;
}
footer .social img {
    padding-top: 15px;
}