*{
    border: 2px solid black;
}
nav, footer {
    background-color: steelblue;
    color: white;
    padding: 2% 1%;
}
a:hover {
    background-color: white;
    color: steelblue;
}
h1, img{
    text-align: center;
}
img{
    width: 60%;
    display: block;
    margin:0 auto;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
}
